* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "courier new", monospace;
	font-size: 20px;
}

div h2, div h4 {
	font-family: "Times New Roman", Times, serif;
}

div p {
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	margin-top: 50px;
	margin-left: 15%;
	margin-right: 15%;
}






